<div>
    <h2 translate="tiimspotApp.ouder.home.title">Ouders</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="ouder.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="tiimspotApp.ouder.home.createLabel">Create a new Ouder</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Ouder</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="tiimspotApp.ouder.persoon">persoon</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="ouder in ouders track by ouder.id">
                    <td><a ui-sref="ouder.detail({id:ouder.id})">{{ouder.id}}</a></td>
                    <td>
                        <a ui-sref="Persoon.detail({id:ouder.persoon.id})">{{ouder.persoon.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="ouder.detail({id:ouder.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="ouder.edit({id:ouder.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="ouder.delete({id:ouder.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
