<div>
    <h2 translate="tiimspotApp.adres.home.title">Adress</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="adres.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="tiimspotApp.adres.home.createLabel">Create a new Adres</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Adres</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="tiimspotApp.adres.straat">Straat</th>
                    <th translate="tiimspotApp.adres.huisnummer">Huisnummer</th>
                    <th translate="tiimspotApp.adres.busnummer">Busnummer</th>
                    <th translate="tiimspotApp.adres.postcode">Postcode</th>
                    <th translate="tiimspotApp.adres.gemeente">Gemeente</th>
                    <th translate="tiimspotApp.adres.landISO3">LandISO3</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="adres in adress track by adres.id">
                    <td><a ui-sref="adres.detail({id:adres.id})">{{adres.id}}</a></td>
                    <td>{{adres.straat}}</td>
                    <td>{{adres.huisnummer}}</td>
                    <td>{{adres.busnummer}}</td>
                    <td>{{adres.postcode}}</td>
                    <td>{{adres.gemeente}}</td>
                    <td>{{adres.landISO3}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="adres.detail({id:adres.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="adres.edit({id:adres.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="adres.delete({id:adres.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
