<div>
    <h2 translate="tiimspotApp.contactinfo.home.title">Contactinfos</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="contactinfo.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="tiimspotApp.contactinfo.home.createLabel">Create a new Contactinfo</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Contactinfo</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="tiimspotApp.contactinfo.email">Email</th>
                    <th translate="tiimspotApp.contactinfo.telefoonnummer">Telefoonnummer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="contactinfo in contactinfos track by contactinfo.id">
                    <td><a ui-sref="contactinfo.detail({id:contactinfo.id})">{{contactinfo.id}}</a></td>
                    <td>{{contactinfo.email}}</td>
                    <td>{{contactinfo.telefoonnummer}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="contactinfo.detail({id:contactinfo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="contactinfo.edit({id:contactinfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="contactinfo.delete({id:contactinfo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
