<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="register.title">Registration</h1>

            <div class="alert alert-success" ng-show="success" translate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists" translate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="register.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!success" name="form" role="form" novalidate ng-submit="register()" show-validation>
            
            	<div class="form-group" ng-show="false">
            	//TODO next version
            		<label class="control-label" for="typeRegistratie">Ik wil een registratie aanmaken als:</label><br /> 
            		<label><input type="radio" ng-model="typeRegistratie" value="ouder"> Ouder</label><br />
            		<label><input type="radio" ng-model="typeRegistratie" value="speler" disabled="true"> Speler</label><br /> <br />
				</div>            

                <div class="form-group">
                    <label class="control-label" for="login" translate="global.form.username">Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="{{'global.form.username.placeholder' | translate}}"
                           ng-model="registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z0-9]*$/" required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required" translate="register.messages.validate.login.required">
                            Your username is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.minlength" translate="register.messages.validate.login.minlength">
                            Your username is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.maxlength" translate="register.messages.validate.login.maxlength">
                            Your username cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.pattern" translate="register.messages.validate.login.pattern">
                            Your username can only contain lower-case letters and digits.
                    </p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="email" translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="password" translate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="registerAccount.password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="confirmPassword" translate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>               
				
				<div ng-show="typeRegistratie == 'ouder'">				 
				 	<h2>Gegevens ouder</h2>
				 	<jh-alert-error></jh-alert-error>			       
			        <div class="form-group">
			            <label class="control-label">Voornaam</label>
			            <input type="text" class="form-control" name="ouderVoornaam" id="field_voornaam_ouder"
			                    ng-model="registerAccount.ouderVoornaam"
			                    required ng-minlength="1"
			                    placeholder="Voornaam ouder" />
			            <div ng-show="form.ouderVoornaam.$invalid">
			                <p class="help-block"
			                    ng-show="form.ouderVoornaam.$error.required" translate="entity.validation.required">
			                    This field is required.
			                </p>
			                <p class="help-block"
			                    ng-show="form.ouderVoornaam.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
			                    This field is required to be at least 1 characters.
			                </p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label">Achternaam</label>
			            <input type="text" class="form-control" name="ouderNaam" id="field_naam"
			                    ng-model="registerAccount.ouderNaam"
			                    required 
			                    placeholder="Achternaam ouder"/>
			            <div ng-show="form.ouderNaam.$invalid">
			                <p class="help-block"
			                    ng-show="form.ouderNaam.$error.required" translate="entity.validation.required">
			                    This field is required.
			                </p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label" translate="global.Geslacht.geslacht" for="field_geslacht1">Geslacht</label>
			            <select class="form-control" name="geslacht" ng-model="registerAccount.ouderGeslacht" id="field_geslacht1" required>
			                <option value="M" translate="global.Geslacht.M">M</option>
			                <option value="V" translate="global.Geslacht.V">V</option>
			            </select>
			            <div ng-show="form.geslacht.$invalid">
			                <p class="help-block"
			                    ng-show="form.geslacht.$error.required" translate="entity.validation.required">
			                    This field is required.
			                </p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label" for="field_geboorteDatum">GeboorteDatum</label>
			            <input type="date" class="form-control" name="geboorteDatum" id="field_geboorteDatum"
			                    ng-model="registerAccount.ouderGeboorteDatum"
			                    required />
			            <div ng-show="form.geboorteDatum.$invalid">
			                <p class="help-block"
			                    ng-show="form.geboorteDatum.$error.required" translate="entity.validation.required">
			                    This field is required.
			                </p>
			                <p class="help-block"
			                    ng-show="form.geboorteDatum.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
			                    This field should be a date and time.
			                </p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label" for="field_telefoonnummer">Telefoonnummer</label>
			            <input type="text" class="form-control" name="telefoonnummer" id="field_telefoonnummer"
			                    ng-model="registerAccount.ouderTelefoonnummer"
			                    placeholder="Telefoonnummer"  />
			        </div>
			
					<div id="adresOuder">
						<div class="form-group">
				            <label class="control-label" for="field_straat">Straat</label>
				            <input type="text" class="form-control" name="straat" id="field_straat"
				                    ng-model="registerAccount.ouderStraat"
				                    required 
				                    placeholder="straat"/>
				            <div ng-show="form.straat.$invalid">
				                <p class="help-block"
				                    ng-show="form.straat.$error.required" translate="entity.validation.required">
				                    This field is required.
				                </p>
				            </div>
				        </div>
				        <div class="form-group">
				            <label class="control-label" for="field_huisnummer">Huisnummer</label>
				            <input type="text" class="form-control" name="huisnummer" id="field_huisnummer"
				                    ng-model="registerAccount.ouderHuisnummer"
				                    required 
				                    placeholder="Huisnummer"/>
				            <div ng-show="form.huisnummer.$invalid">
				                <p class="help-block"
				                    ng-show="form.huisnummer.$error.required" translate="entity.validation.required">
				                    This field is required.
				                </p>
				            </div>
				        </div>
				        <div class="form-group">
				            <label class="control-label" for="field_busnummer">Busnummer</label>
				            <input type="text" class="form-control" name="busnummer" id="field_busnummer"
				                    ng-model="registerAccount.ouderBusnummer"
				                    placeholder="Busnummer" />
				        </div>
				        <div class="form-group">
				            <label class="control-label" for="field_postcode">Postcode</label>
				            <input type="text" class="form-control" name="postcode" id="field_postcode"
				                    ng-model="registerAccount.ouderPostcode"
				                    required
				                    placeholder="Postcode" />
				            <div ng-show="form.postcode.$invalid">
				                <p class="help-block"
				                    ng-show="form.postcode.$error.required" translate="entity.validation.required">
				                    This field is required.
				                </p>
				            </div>
				        </div>
				        <div class="form-group">
				            <label class="control-label" for="field_gemeente">Gemeente</label>
				            <input type="text" class="form-control" name="gemeente" id="field_gemeente"
				                    ng-model="registerAccount.ouderGemeente"
				                    required 
				                    placeholder="Gemeente"/>
				            <div ng-show="form.gemeente.$invalid">
				                <p class="help-block"
				                    ng-show="form.gemeente.$error.required" translate="entity.validation.required">
				                    This field is required.
				                </p>
				            </div>
				        </div>	 
        			</div>      			       
			    </div>
				 
				 
				 <div class="form-group">
				 	<h2>Gegevens speler</h2>
				 	<jh-alert-error></jh-alert-error>			       
			        <div class="form-group">
			            <label class="control-label" for="field_voornaam">Voornaam</label>
			            <input type="text" class="form-control" name="voornaam" id="field_voornaam"
			                    ng-model="registerAccount.kindVoornaam"
			                    required ng-minlength="1" 
			                    placeholder="Voornaam kind"/>
			            <div ng-show="form.voornaam.$invalid">
			                <p class="help-block"
			                    ng-show="form.voornaam.$error.required" translate="entity.validation.required">
			                    This field is required.
			                </p>
			                <p class="help-block"
			                    ng-show="form.voornaam.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
			                    This field is required to be at least 1 characters.
			                </p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label" for="field_naam">Naam</label>
			            <input type="text" class="form-control" name="naam" id="field_naam"
			                    ng-model="registerAccount.kindNaam"
			                    required
			                    placeholder="Achternaam kind" />
			            <div ng-show="form.naam.$invalid">
			                <p class="help-block"
			                    ng-show="form.naam.$error.required" translate="entity.validation.required">
			                    This field is required.
			                </p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label" translate="global.Geslacht.geslacht" for="field_geslacht2">Geslacht</label>
			            <select class="form-control" name="geslacht" ng-model="registerAccount.kindGeslacht" id="field_geslacht2" required>
			                <option value="M" translate="global.Geslacht.M">M</option>
			                <option value="V" translate="global.Geslacht.V">V</option>
			            </select>
			            <div ng-show="form.geslacht.$invalid">
			                <p class="help-block"
			                    ng-show="form.geslacht.$error.required" translate="entity.validation.required">
			                    This field is required.
			                </p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label" for="field_geboorteDatum">GeboorteDatum</label>
			            <input type="date" class="form-control" name="geboorteDatum" id="field_geboorteDatum"
			                    ng-model="registerAccount.kindGeboorteDatum"
			                    required />
			            <div ng-show="form.geboorteDatum.$invalid">
			                <p class="help-block"
			                    ng-show="form.geboorteDatum.$error.required" translate="entity.validation.required">
			                    This field is required.
			                </p>
			                <p class="help-block"
			                    ng-show="form.geboorteDatum.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
			                    This field should be a date and time.
			                </p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label" for="field_telefoonnummer">Telefoonnummer</label>
			            <input type="text" class="form-control" name="telefoonnummer" id="field_telefoonnummer"
			                    ng-model="persoon.telefoonnummer"
			                     />
			        </div>
				 								
				 </div>				 

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="register.form.button">Register</button>
            </form>            
        </div>
    </div>
</div>
